/* .company-name {
  position: absolute;
  left: 8.54%;
  top: 2.47%;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #505565;
}
.categories-link {
  position: absolute;
  left: 28.54%;
  top: 2.91%;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #059588;
}
.loaction-link {
  position: absolute;
  left: 36.32%;
  right: 59.93%;
  top: 2.91%;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #3f4753;
}
.logout-btn {
  position: absolute;
  right: 15.42%;
  top: 2.91%;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #3f4753;
} */
